{% extends "base.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <div class="block">
		<h2 class="pb-30">Réinitialiser le mot de passe</h2>
		{{ form_start(form) }}
        {{ form_rest(form) }}
		<button class="btn btn-primary-dark">Réinitialiser</button>
        {{ form_end(form) }}
	</div>
{% endblock %}