
<div class="d-flex flex-row-nowrap fil-ariane">
    <small class="ml-20 mt-10">
        <a href="{{ path('app_home') }}">Accueil</a>

        {% if app.request.attributes.get('_route') == 'app_show_classe' %}
            {% set nom = app.request.attributes.get('_route_params').nom %}
            /
            <a href="{{ path('app_show_classe', {'nom': nom}) }}">
                {{ classe.nom }}
            </a>
        {% endif %}

    </small>
</div>
