{% extends 'base.html.twig' %}

{% block title %}Hello EspeceController!{% endblock %}

{% block body %}
<div id="wrapper-espece">
    <h1>Liste des espèces</h1>
    <div class="especes">
           {% for espece in especes %}
           <div class="espece">
                <div class="espece-image">
                    <img src="{{espece.image}}" alt="{{espece.nomEspece}}" >
                </div>
                <div class="btn-detail">
                    <a href="{{ path('detail_espece', {'id' : espece.id })}}"> Détails</a>
                </div>
                
           </div>
                
            {% endfor %}
    </div>
</div>

{% endblock %}
